h1 {
  text-align: left;
  padding-left: 20;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
  font-size: 40;
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 20;
}
h2 {
  text-align: center;
  padding-left: 20;
  color: white;
  font-size: 36;
}

h3 {
  text-align: left;
  padding-left: 20;
  font-size: 16;
  color: gray;
}

h4 {
  text-align: center;
  padding-left: 20;
  font-size: 40;
  color: rgb(255, 255, 255);
}
header {
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;

  background-image: linear-gradient(
    to bottom right,
    rgb(187, 237, 189),
    rgba(210, 247, 212, 1),
    #a3ddebff,
    rgb(187, 237, 189)
  );
}
footer {
  font-family: "Inter", sans-serif;
}
.playlist-item {
  text-align: center;
  color: white;
}

#nowPlaying {
  text-align: center;
  padding-left: 20;
  color: white;
  font-size: 100%;
  opacity: 85%;
}

.progressBarText {
  text-align: center;

  text-emphasis-color: white;
  text-shadow: #ffb003;
  color: #ffffff !important;

  font-size: 1000%;
  font-family: "Roboto", sans-serif;
  opacity: 85% !important;
}

#clockField {
  font-weight: bold;
  font-size: 500%;
  display: block;
  opacity: 85%;
}

#modeField {
  font-weight: bold;
  font-size: 400%;
  display: block;
  opacity: 85%;
}

.hide {
  display: none !important;
}

.input--Number {
  background-color: #42424200;
  font-weight: regular;
  font-size: 200%;
  text-align: right;
  color: rgb(255, 255, 255);
  display: block;
  align-items: center;
  border-color: #00000000;
}
.inputCaption {
  background-color: #42424200;
  font-weight: regular;
  font-size: 120%;
  text-align: left;
  color: rgb(255, 255, 255);
  display: block;
  border-color: #00000000;
  padding-right: 25;
}
.btn--text {
  text-align: center;
  opacity: 85%;
  background-color: transparent;
  font-weight: bold;
  display: inline-block;
  font-size: 250%;
  border-width: 0cap;
}

.btn--container {
  text-align: center; /* Center-aligns the button inside the container */
}

.workingTheme {
  --background-color: lightgreen;
  background-image: linear-gradient(to top left, #39b385, #9be15d);

  color: white;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

#countdowntimer {
  color: white;
  display: inline;
  text-align: center;

  background-size: cover; /* Ensures the image covers the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}
