h1 {
  text-align: left;
  padding-left: 20;
  color: white;
  font-size: 40;
}

h2 {
  text-align: center;
  padding-left: 20;
  color: white;
  font-size: 36;
}

h3 {
  text-align: left;
  padding-left: 20;
  color: gray;
}

h4 {
  text-align: center;
  padding-left: 20;
  font-size: 40;
  color: rgb(99, 99, 99);
}

body {
  --background-color: #b0c4b1;
  background-image: linear-gradient(
    to bottom right,
    rgb(187, 237, 189),
    rgba(210, 247, 212, 1),
    #a3ddebff,
    rgb(187, 237, 189)
  );
}

#nowPlaying {
  text-align: center;
  padding-left: 20;
  color: white;
  font-size: 36;
}

#clockField {
  font-weight: bold;
  font-size: 500%;
  display: block;
}

#modeField {
  font-weight: bold;
  font-size: 400%;
  display: block;
}

.input--Number {
  background-color: #42424200;
  font-weight: regular;
  font-size: 200%;
  text-align: left;
  color: rgb(255, 255, 255);
  display: block;
  border-color: #00000000;
}
.inputCaption {
  background-color: #42424200;
  font-weight: regular;
  font-size: 100%;
  text-align: center;
  color: rgb(116, 115, 115);
  display: block;
  border-color: #00000000;
}
.btn--text {
  text-align: center;
  color: white;
  background-color: #95959559; /* Can always look into making this darker or change when pause button is activated.. but the pause button will be redundant later on */
  font-weight: bold;
  display: inline-block;
  font-size: 250%;
  border-width: 0cap;
}

.btn--container {
  text-align: center; /* Center-aligns the button inside the container */
}

.workingTheme {
  --background-color: lightgreen;
  background-image: linear-gradient(to top left, #39b385, #9be15d);

  color: white;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

#countdowntimer {
  color: white;
  display: inline;
  text-align: center;
  background: url("/src/img/whiteCircle.png"), red;
  background-size: cover; /* Ensures the image covers the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}
